name: sharesdk_plugin
description: ShareSDK is a social sharing component that provides social functions for apps, like authorization and share, and has social statistical analysis management background.
version: 1.3.6
homepage: http://www.mob.com/mobService/sharesdk

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.12.0"
dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        package: com.mob.flutter.sharesdk
        pluginClass: SharesdkPlugin
      ios:
        pluginClass: SharesdkPlugin

false_secrets:
 - example/android/MobSDK.gradle

